*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
img{
    display: block;
}
button {
    background-color: crimson;
    padding: .5rem 1rem;
    color: white;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    outline: none;
}

